.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div:has(.theme-light),
div:has(.theme-dark) {
  padding: 0 !important; /* Need to use this to override parent component within antd refine component ThemedLayoutV2 */
}

div:has(.theme-dark) {
  background-color: #282c34;
}

.ant-layout-content {
  width: auto;
}

aside.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-has-trigger {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

.side-nav-title {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;

  h5 {
    margin-left: -20px;
  }

  img {
    width: 70px;
    height: 41px;
  }
}

.ant-layout-sider-children div {
  width: auto;
}
