/* Styling for each columnm */

.kanban-board {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.box {
  min-width: 200px;
  flex: 0 0 auto;
  margin-right: 10px;
  background: #efc9bf;
  border: #a37265;
  border-radius: 10px;
}
